<!DOCTYPE html>
<html>
<head>
    <title>Мой сайт</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"/>
    <link rel="stylesheet" href="../partials/main/styles/populars.css">
    <link rel="stylesheet" href="../partials/main/styles/presentation.css">
    <link rel="stylesheet" href="../partials/main/styles/service-clinic.css">
    <link rel="stylesheet" href="../partials/main/styles/actions-box.css">
    <link rel="stylesheet" href="../partials/main/styles/actions.css">
    <link rel="stylesheet" href="../partials/main/styles/articles-box.css">
    <link rel="stylesheet" href="../partials/main/styles/articles.css">
    <link rel="stylesheet" href="../partials/main/styles/specialists.css">
    <link rel="stylesheet" href="../partials/main/styles/reviews.css">
    
</head>
<body>
    <!-- <header>
        <nav class="navbar navbar-expand-lg navbar-light bg-white h-83">
            <div class="container">
                <div class="nav-logo-box">
                    <%- include('./ui-kit/logo',{color:""}) %>
                </div>
                
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="#">О нас</a>
                    </li>
                    <li class="nav-item">
                    <a class="nav-link" href="#"
                        >Услуги
                        <svg
                        class="dropdown-toggle ms-1"
                        xmlns="http://www.w3.org/2000/svg"
                        width="14"
                        height="9"
                        viewBox="0 0 14 9"
                        fill="none">
                        <rect
                            x="1.06055"
                            y="0.0595703"
                            width="9.74469"
                            height="1.5"
                            transform="rotate(45 1.06055 0.0595703)"
                            fill="#3A7E7F" />
                        <rect
                            width="9.74469"
                            height="1.5"
                            transform="matrix(-0.707107 0.707107 0.707107 0.707107 12.832 0.0595703)"
                            fill="#3A7E7F" />
                        </svg>
                    </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Специалисты</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Сертификат</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Акции</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Отзывы</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Контакты</a>
                    </li>
                </ul>
                <%- include('../partials/ui-kit/buttonAbout', { disable: false, about: false }) %>
            </div>
        </nav>
    </header> -->

    <header id="header">
        <div class="container" style="width: 1300px !important; max-width: 1300px !important;">
            <div class="row">
                <div class="col-2">
                    <div class="nav-logo-box justify-content-center" id="nav-logo-box">
                        <%- include('./ui-kit/logo',{color:""}) %>
                    </div>
                    <div class="nav-logo-box justify-content-center" id="header-fixed-logo">
                        <%- include('./ui-kit/logo',{color:"none"}) %>
                    </div>
                </div>
                <div class="col-10">
                   <div class="row">
                    <nav class="navbar navbar-expand-lg navbar-light bg-white h-83">
                        <ul class="navbar-nav">
                            <li class="nav-item">
                                <a class="nav-link" href="#">О нас</a>
                            </li>
                            <li class="nav-item">
                            <a class="nav-link" href="#"
                                >Услуги
                                <svg
                                class="dropdown-toggle ms-1"
                                xmlns="http://www.w3.org/2000/svg"
                                width="14"
                                height="9"
                                viewBox="0 0 14 9"
                                fill="none">
                                <rect
                                    x="1.06055"
                                    y="0.0595703"
                                    width="9.74469"
                                    height="1.5"
                                    transform="rotate(45 1.06055 0.0595703)"
                                    fill="#3A7E7F" />
                                <rect
                                    width="9.74469"
                                    height="1.5"
                                    transform="matrix(-0.707107 0.707107 0.707107 0.707107 12.832 0.0595703)"
                                    fill="#3A7E7F" />
                                </svg>
                            </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Специалисты</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Сертификат</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Акции</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Отзывы</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Контакты</a>
                            </li>
                        </ul>
                        <%- include('./ui-kit/buttonAbout', { disable: false, about: false }) %>
                    </nav>
                   </div> 
                   <div class="row" id="contact-info-box-header">
                    <nav class="navbar navbar-expand-lg navbar-light bg-white h-83">
                        <ul class="navbar-nav">
                            <li class="nav-item d-flex header-adress-box">
                                <div class="mt-2">
                                    <svg width="16" height="24" viewBox="0 0 16 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path fill-rule="evenodd" clip-rule="evenodd" d="M7.28308 0.0128831C7.2464 0.0222121 7.02635 0.0554382 6.79407 0.0866423C1.52703 0.794547 -1.58932 7.00544 0.835442 11.9622C1.05505 12.4112 7.26023 22.8065 7.53825 23.1913C7.68427 23.3933 8.05833 24 8.05833 24C8.05833 24 8.50253 23.4273 8.67216 23.1913C8.83002 22.9716 14.978 12.3413 15.1452 11.9989C17.5576 7.05783 14.6258 1.0525 9.33628 0.100061C8.98664 0.0371018 7.44489 -0.0283393 7.28308 0.0128831ZM9.0282 1.46532C13.2692 2.12763 15.7987 6.84285 14.1154 10.9484C13.8142 11.6831 8.13484 21.4807 8.05833 21.3977C7.93754 21.2667 2.22524 11.7056 2.03475 11.3156C0.745287 8.67584 1.28533 5.41596 3.35582 3.34128C4.52019 2.17456 5.71408 1.61518 7.50535 1.39703C7.74536 1.3678 8.66905 1.40925 9.0282 1.46532ZM7.43867 4.15286C7.38977 4.16454 7.23973 4.19684 7.10526 4.22469C3.77312 4.91504 2.88153 9.64326 5.70323 11.6597C8.98548 14.0053 13.2077 10.4743 11.6851 6.65709C11.0227 4.99652 8.97299 3.78779 7.43867 4.15286ZM8.54431 5.57433C9.94078 5.88021 10.876 7.33637 10.5979 8.77198C10.1747 10.9569 7.64081 11.7636 6.12453 10.1962C4.26506 8.27387 5.97321 5.01123 8.54431 5.57433Z" fill="#636363"/>
                                    </svg>
                                </div>
                                <span class="ml-3">
                                    Луговая улица, 4, микрорайон Пригород Лесное, Московская область
                                </span> 
                            </li>
                            </li>
                            <li class="nav-item d-flex">
                                <div>
                                    <svg width="21" height="21" viewBox="0 0 21 21" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M19.769 15.1169L19.769 15.1169C19.7422 15.0754 19.6759 14.9987 19.5888 14.9032C19.499 14.8047 19.3802 14.6789 19.2422 14.5352C18.9661 14.2479 18.6112 13.888 18.2532 13.5307C17.8952 13.1735 17.5335 12.8184 17.2437 12.541C17.0988 12.4023 16.9715 12.2826 16.8713 12.1916C16.7777 12.1065 16.7023 12.0412 16.6586 12.0111L16.6546 12.0077C16.3769 11.7725 16.1575 11.5867 15.9608 11.4754C15.7557 11.3593 15.5638 11.3175 15.3462 11.3829C15.1387 11.4452 14.9187 11.6022 14.6446 11.8484C14.3692 12.0958 14.027 12.4448 13.5754 12.9052L13.5738 12.9069L13.5727 12.908L12.7623 13.7082L12.3616 13.4902C11.4632 13.0015 10.4464 12.1867 9.54564 11.2784C8.64458 10.3697 7.86668 9.37472 7.44105 8.52939L7.30483 8.2588L8.08685 7.46966L8.0884 7.46821C8.56226 7.02167 8.92117 6.68346 9.17673 6.41181C9.43093 6.14162 9.59437 5.92583 9.66349 5.72348C9.73629 5.51038 9.70151 5.32269 9.59199 5.12305C9.48768 4.93291 9.31002 4.7222 9.08638 4.45695L9.08553 4.45594C9.05442 4.40157 8.9869 4.31763 8.90182 4.21913C8.80742 4.10984 8.68229 3.97251 8.5367 3.81732C8.2454 3.50679 7.87001 3.12239 7.48994 2.74329C7.10988 2.36419 6.7245 1.98975 6.41318 1.69918C6.2576 1.55397 6.11992 1.42915 6.01036 1.33499C5.90473 1.24421 5.81583 1.17351 5.76206 1.14584L5.76205 1.14583C5.29034 0.903112 4.77151 0.836136 4.29996 0.962702C4.13006 1.0083 3.88669 1.15878 3.61996 1.35718C3.34877 1.5589 3.04034 1.82031 2.73693 2.10178C2.13321 2.66186 1.53625 3.31356 1.2948 3.74128C0.883533 4.4698 0.809822 5.43778 0.998565 6.52548C1.18759 7.61482 1.6417 8.83576 2.30123 10.0812C3.6202 12.572 5.76836 15.1751 8.29499 17.0379C10.1168 18.381 11.914 19.3123 13.4924 19.7715C15.0674 20.2297 16.442 20.2226 17.4019 19.6614C17.4426 19.6376 17.5058 19.5862 17.5795 19.5222C17.6559 19.4558 17.7507 19.3693 17.8573 19.2693C18.0708 19.0693 18.3337 18.8133 18.5954 18.5522C18.857 18.291 19.118 18.0241 19.3274 17.8022C19.534 17.5833 19.6973 17.401 19.7573 17.3128C20.2106 16.6461 20.2139 15.806 19.769 15.1169ZM5.15612 2.17681L5.15613 2.17682L5.15614 2.17682C5.15637 2.17694 5.15978 2.17876 5.16733 2.18393C5.1747 2.18898 5.18423 2.19599 5.19611 2.20525C5.21988 2.22378 5.2507 2.2495 5.28879 2.28275C5.36487 2.34916 5.467 2.44302 5.59444 2.56373C5.84915 2.805 6.20242 3.15112 6.64571 3.59407L6.7164 3.52333L6.64571 3.59407C6.72224 3.67054 6.79568 3.74374 6.86607 3.8139C7.25251 4.1991 7.54725 4.49288 7.75867 4.73427C8.01091 5.02226 8.12739 5.21757 8.14932 5.38572C8.17014 5.54538 8.10774 5.7038 7.92827 5.9271C7.77559 6.11707 7.55118 6.33867 7.25309 6.63303C7.19876 6.68667 7.14199 6.74273 7.08276 6.80145C6.80407 7.07777 6.59235 7.28817 6.4363 7.45644C6.28116 7.62375 6.17473 7.75592 6.11172 7.87592C6.04607 8.00095 6.02735 8.11305 6.04476 8.2353C6.06108 8.3499 6.10938 8.47143 6.166 8.61281C6.57876 9.64333 7.46497 10.8557 8.53327 11.9578C9.60241 13.0608 10.8624 14.0622 12.0309 14.6668C12.0489 14.6761 12.0667 14.6853 12.0841 14.6944C12.278 14.7948 12.4347 14.8761 12.5713 14.9226C12.7262 14.9753 12.8654 14.9872 13.0171 14.9349C13.1621 14.8849 13.3094 14.779 13.4894 14.6202C13.6561 14.473 13.8598 14.2722 14.124 14.0116C14.1466 13.9894 14.1696 13.9666 14.1931 13.9435C14.2595 13.878 14.3225 13.8156 14.3825 13.7562C14.6727 13.4687 14.8921 13.2514 15.0801 13.1023C15.3057 12.9234 15.4645 12.8609 15.6237 12.8813C15.7911 12.9027 15.9847 13.0177 16.271 13.2678C16.5062 13.4732 16.7917 13.758 17.1647 14.1303C17.2416 14.207 17.3222 14.2875 17.4069 14.3717C17.4791 14.4436 17.5486 14.5126 17.6155 14.5789C18.0125 14.973 18.3146 15.2729 18.5303 15.5198C18.7843 15.8107 18.9014 16.01 18.9222 16.1841C18.9421 16.3509 18.8756 16.5184 18.6897 16.7539C18.5298 16.9564 18.2945 17.1938 17.9818 17.5093C17.9292 17.5623 17.8744 17.6176 17.8174 17.6753C17.0797 18.4221 16.5607 18.8127 15.97 18.9402C15.3775 19.0681 14.6945 18.9354 13.6165 18.5796C11.0953 17.7474 8.55359 15.9973 6.49103 13.8439C4.42818 11.6902 2.85242 9.14125 2.25359 6.71845L2.15651 6.74244L2.25359 6.71845C2.04264 5.86501 1.98794 5.32072 2.14751 4.81852C2.30794 4.31358 2.68971 3.83557 3.39768 3.12922C3.67937 2.84818 3.90193 2.63244 4.08593 2.47042C4.27052 2.30789 4.41191 2.20342 4.53119 2.14155C4.64806 2.08093 4.74109 2.06255 4.83162 2.06983C4.92531 2.07736 5.02535 2.11297 5.15612 2.17681Z" fill="#636363" stroke="#636363" stroke-width="0.2"/>
                                    </svg> 
                                </div>
                                <span class="ml-2 header-number-text">
                                    +7 (985) 000-11-03
                                </span>
                            </li>
                            <li class="nav-item d-flex">
                                <div>
                                    <svg width="19" height="15" viewBox="0 0 19 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path fill-rule="evenodd" clip-rule="evenodd" d="M0 0.00350583V7.521V15H9.5H19V7.50879V0.0175816L9.59923 0.00347668C4.59622 -0.00434342 0 0.00350583 0 0.00350583ZM16.4374 1.43273C16.3569 1.50764 14.7631 2.85664 12.8955 4.43045L9.5 7.29202L6.10449 4.43045C4.23693 2.85664 2.64315 1.50764 2.56263 1.43273C2.41975 1.29986 2.58675 1.29657 9.5 1.29657C16.4133 1.29657 16.5802 1.29986 16.4374 1.43273ZM9.5 8.75124C9.75242 8.75124 10.0684 8.50151 13.7555 5.38867L17.7383 2.0261V7.87356V13.721H9.5H1.26172V7.87356V2.0261L5.24452 5.38867C8.93156 8.50151 9.24758 8.75124 9.5 8.75124Z" fill="#636363"/>
                                    </svg> 
                                </div>
                                <span class="ml-2">
                                    proderma@bk.ru
                                </span>
                                
                            </li>
                            <li class="nav-item">
                                <%- include('./ui-kit/social', { disable: false, color:'' }) %>
                            </li>
                        </ul>
                    </nav>
                   </div>
                </div>
            </div>
        </div>
    </header>

    <style>
        .navbar {
          height: 83px;
        }
        .navbar-brand {
          margin-right: auto;
        }
        .navbar-nav {
          display: flex;
          align-items: center;
        }
        .navbar-nav .nav-item {
          margin-right: 30px;
        }
        .nav-logo-box{
            margin-top: 40px;
            display: flex;
        }

        .header-adress-box{
            width: 40%;
        }

        .header-number-text{
            color: #232323;
            font-family: Commissioner;
            font-size: 16px;
            font-style: normal;
            font-weight: 300;
            line-height: normal; 
        }

        .header-fixed{
            height: 83px;
            position: fixed; 
            background-color: white;
            width: 100%;
            z-index: 100;
        }

        #header-fixed-logo{
            display: none;
            margin-top: 20px;
        }
    </style>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/js/bootstrap.bundle.min.js"></script>
