<div class="actions-title">
    <span>акции</span>
</div>
<div class="row mt-3 visible-lg">
    <div class="col-4 actions-left-part">
        <div class="d-flex flex-column action-box">
            <%- include('./actions-box', {type:'long'}) %>
        </div>
    </div>
    <div class="col-8">
        <div class="row">
            <div class="col-6">
                <div class="d-flex flex-column action-box">
                    <%- include('./actions-box', {type:'short'}) %>
                </div>
            </div>
            <div class="col-6">
                <div class="d-flex flex-column action-box">
                    <%- include('./actions-box', {type:'short'}) %>
                </div>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-6">
                <div class="d-flex flex-column action-box">
                    <%- include('./actions-box', {type:'short'}) %>
                </div>
            </div>
            <div class="col-6">
                <div class="d-flex flex-column action-box">
                    <%- include('./actions-box', {type:'short'}) %>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row mt-5 visible-lg">
    <div class="d-flex w-100 justify-content-center text-center">
        <%- include('../ui-kit/buttonAbout', { disable: false, about: false }) %>
    </div>
</div>


<div class="container-swiper actions-box mt-3 visible-small">
    <div class="swiper mt-3">
        <!-- Additional required wrapper -->
        <div class="swiper-wrapper">
          <!-- Slides -->
          <div class="swiper-slide d-flex justify-content-center">
            <div class="service-clinic-block w-100">
                <div class="d-flex flex-column action-box">
                    <%- include('./actions-box', {type:'short'}) %>
                </div>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="service-clinic-block w-100">
                <div class="d-flex flex-column action-box">
                    <%- include('./actions-box', {type:'short'}) %>
                </div>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="service-clinic-block w-100">
                <div class="d-flex flex-column action-box">
                    <%- include('./actions-box', {type:'short'}) %>
                </div>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="service-clinic-block w-100">
                <div class="d-flex flex-column action-box">
                    <%- include('./actions-box', {type:'short'}) %>
                </div>
            </div>
          </div>
        </div>
    </div>
    <div class="swiper-button-prev actions-swiper-button-prev" style="width: 65px; top:43%; left: -20px;">
        <%- include('../ui-kit/arrowButton', { arrowDirection: 'left' }) %>
    </div>
    <div class="swiper-button-next actions-swiper-button-next" style="width: 65px; top:43%; right: -20px;">
        <%- include('../ui-kit/arrowButton', { arrowDirection: 'right' }) %>
    </div>
</div>