<div class="reviews-title text-uppercase mb-4">
    Отзывы
</div>
<div class="container-swiper">
    <div class="swiperReviews">
        <!-- Additional required wrapper -->
        <div class="swiper-wrapper">
          <!-- Slides -->
          <div class="swiper-slide">
            <div class="service-clinic-block">
                <%- include('./review-box', { link: "/" }) %>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="service-clinic-block">
                <%- include('./review-box', { link: "/" }) %>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="service-clinic-block">
                <%- include('./review-box', { link: "/" }) %>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="service-clinic-block">
                <%- include('./review-box', { link: "/" }) %>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="service-clinic-block">
                <%- include('./review-box', { link: "/" }) %>
            </div>
          </div>
        </div>
    </div>
    <div class="swiper-button-prev" style="width: 65px; top:115%; left: 47%;">
        <%- include('../ui-kit/arrowButton', { arrowDirection: 'left' }) %>
    </div>
    <div class="swiper-button-next" style="width: 65px; top:115%; right: 41%;">
        <%- include('../ui-kit/arrowButton', { arrowDirection: 'right' }) %>
    </div>
</div>