<div class="row">
    <div class="col-lg-4 col-sm-6 col-xs-12 mt-2 ">
        <div class="service-clinic-block services-clinic-title">
            <span class="text-uppercase">УСЛУГИ нашей клиники</span>
        </div>
    </div>
    <div class="col-lg-4 col-sm-6 col-xs-12 mt-2">
        <div class="service-clinic-block services-clinic-item">
            <%- include('../ui-kit/cardService',{link:"/"}) %>
        </div>
    </div>
    <div class="col-lg-4 col-sm-6 col-xs-12 mt-2">
        <div class="service-clinic-block services-clinic-item">
            <%- include('../ui-kit/cardService',{link:"/"}) %>
        </div>
    </div>
    <div class="col-lg-4 col-sm-6 col-xs-12 mt-2">
        <div class="service-clinic-block services-clinic-item">
            <%- include('../ui-kit/cardService',{link:"/"}) %>
        </div>
    </div>
    <div class="col-lg-4 col-sm-6 col-xs-12 mt-2">
        <div class="service-clinic-block services-clinic-item">
            <%- include('../ui-kit/cardService',{link:"/"}) %>
        </div>
    </div>
    <div class="col-lg-4 col-sm-6 col-xs-12 mt-2">
        <div class="service-clinic-block services-clinic-item">
            <%- include('../ui-kit/cardService',{link:"/"}) %>
        </div>
    </div>
    <div class="col-lg-4 col-sm-6 col-xs-12 mt-2">
        <div class="service-clinic-block services-clinic-item">
            <%- include('../ui-kit/cardService',{link:"/"}) %>
        </div>
    </div>
</div>
<!-- <div class="row justify-content-center mt-3">
    <div class="col-lg-4 col-sm-6 col-xs-12">
        <div class="service-clinic-block services-clinic-item">
            <%- include('../ui-kit/cardService',{link:"/"}) %>
        </div>
    </div>
    <div class="col-lg-4 col-sm-6 col-xs-12">
        <div class="service-clinic-block services-clinic-item">
            <%- include('../ui-kit/cardService',{link:"/"}) %>
        </div>
    </div>
    <div class="col-lg-4 col-sm-6 col-xs-12">
        <div class="service-clinic-block services-clinic-item">
            <%- include('../ui-kit/cardService',{link:"/"}) %>
        </div>
    </div>
</div>
<div class="row justify-content-center mt-3">
    <div class="col-lg-4 col-sm-6 col-xs-12">
        <div class="service-clinic-block services-clinic-item">
            <%- include('../ui-kit/cardService',{link:"/"}) %>
        </div>
    </div>
    <div class="col-lg-4 col-sm-6 col-xs-12">
        <div class="service-clinic-block services-clinic-item">
            <%- include('../ui-kit/cardService',{link:"/"}) %>
        </div>
    </div>
    <div class="col-lg-4 col-sm-6 col-xs-12">
        <div class="service-clinic-block services-clinic-item">
            <%- include('../ui-kit/cardService',{link:"/"}) %>
        </div>
    </div>
</div>
<div class="row justify-content-center mt-3">
    <div class="col-lg-4 col-sm-6 col-xs-12">
        <div class="service-clinic-block services-clinic-item">
            <%- include('../ui-kit/cardService',{link:"/"}) %>
        </div>
    </div>
    <div class="col-lg-4 col-sm-6 col-xs-12">
        <div class="service-clinic-block services-clinic-item">
            <%- include('../ui-kit/cardService',{link:"/"}) %>
        </div>
    </div>
    <div class="col-lg-4 col-sm-6 col-xs-12">
        <div class="service-clinic-block services-clinic-item">
            <%- include('../ui-kit/cardService',{link:"/"}) %>
        </div>
    </div>
</div> -->