<div class="d-flex justify-content-center">
    <div class="service-clinic-block services-clinic-title">
        <span class="text-uppercase">УСЛУГИ нашей клиники</span>
    </div>
    <div class="service-clinic-block services-clinic-item">
        <%- include('../ui-kit/cardService',{link:"/"}) %>
    </div>
    <div class="service-clinic-block services-clinic-item">
        <%- include('../ui-kit/cardService',{link:"/"}) %>
    </div>
</div>
<div class="d-flex justify-content-center mt-3">
    <div class="service-clinic-block services-clinic-item">
        <%- include('../ui-kit/cardService',{link:"/"}) %>
    </div>
    <div class="service-clinic-block services-clinic-item">
        <%- include('../ui-kit/cardService',{link:"/"}) %>
    </div>
    <div class="service-clinic-block services-clinic-item">
        <%- include('../ui-kit/cardService',{link:"/"}) %>
    </div>
</div>
<div class="d-flex justify-content-center mt-3">
    <div class="service-clinic-block services-clinic-item">
        <%- include('../ui-kit/cardService',{link:"/"}) %>
    </div>
    <div class="service-clinic-block  services-clinic-item">
        <%- include('../ui-kit/cardService',{link:"/"}) %>
    </div>
    <div class="service-clinic-block services-clinic-item">
        <%- include('../ui-kit/cardService',{link:"/"}) %>
    </div>
</div>
<div class="d-flex justify-content-center mt-3">
    <div class="service-clinic-block services-clinic-item">
        <%- include('../ui-kit/cardService',{link:"/"}) %>
    </div>
    <div class="service-clinic-block services-clinic-item">
        <%- include('../ui-kit/cardService',{link:"/"}) %>
    </div>
    <div class="service-clinic-block services-clinic-item">
        <%- include('../ui-kit/cardService',{link:"/"}) %>
    </div>
</div>