<div class="specialists-title text-uppercase mb-4">
    Специалисты
</div>

<div class="container-swiper">
    <div class="swiper h-auto" style="height: 650px;">
        <!-- Additional required wrapper -->
        <div class="swiper-wrapper">
          <!-- Slides -->
          <div class="swiper-slide">
            <div class="service-clinic-block">
                <%- include('../ui-kit/cardDoctor', { link: "/" }) %>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="service-clinic-block">
                <%- include('../ui-kit/cardDoctor', { link: "/" }) %>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="service-clinic-block">
                <%- include('../ui-kit/cardDoctor', { link: "/" }) %>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="service-clinic-block">
                <%- include('../ui-kit/cardDoctor', { link: "/" }) %>
            </div>
          </div>
        </div>
    </div>
    <div class="swiper-button-prev specialist-button-prev" style="width: 65px; top:45%; left: -30px;">
        <%- include('../ui-kit/arrowButton', { arrowDirection: 'left' }) %>
    </div>
    <div class="swiper-button-next specialist-button-next" style="width: 65px; top:45%; right: -30px;">
        <%- include('../ui-kit/arrowButton', { arrowDirection: 'right' }) %>
    </div>
</div>
