<%- include('../partials/header') %>\
<div class="container-fluidd">
  <div class="about">
    <%- include('../partials/services/about') %>
  </div>
</div>
<div class="container">
  <%- include('../partials/services/photos') %>
  <%- include('../partials/services/avantagesMethod') %>
</div>
<div class="container-fluidd">
  <%- include('../partials/services/license') %>
</div>
<div class="container">
  <%- include('../partials/services/contacts') %>
</div>
<div class="container-fluidd">
  <%- include('../partials/footer') %>
</div> 
      



  


