<div class="container">
    <%- include('../partials/header') %>
  </div>
  <div class="about">
    <%- include('../partials/services/about') %>
    <div class="container">
      <%- include('../partials/services/photos') %>
      <%- include('../partials/services/avantagesMethod') %>
      <%- include('../partials/services/license') %>
      <%- include('../partials/services/contacts') %>
    </div>
    <%- include('../partials/footer') %>
</div>

  


