<%- include('../partials/header') %>

<main>
    <!-- <%- include('../partials/ui-kit/additionalLink', { link: "https://google.com", iconType: 'google'}) %>
    <%- include('../partials/ui-kit/additionalLink', { link: "https://google.com", iconType: 'doctors'}) %>
    <%- include('../partials/ui-kit/additionalLink', { link: "https://google.com", iconType: 'yandex'}) %>
    <%- include('../partials/ui-kit/additionalLink', { link: "https://google.com", iconType: '2gis'}) %>
    <%- include('../partials/ui-kit/arrowButton', { arrowDirection: 'right' }) %>
    <%- include('../partials/ui-kit/arrowButton', { arrowDirection: 'left' }) %>
    <%- include('../partials/ui-kit/arrowButton', { arrowDirection: 'disabled' }) %>
    <%- include('../partials/ui-kit/buttonAbout', { disable: false, about: true }) %>
    <%- include('../partials/ui-kit/buttonAbout', { disable: true,  about: true}) %>
    <%- include('../partials/ui-kit/buttonAbout', { disable: false, about: false }) %>
    <%- include('../partials/ui-kit/buttonAbout', { disable: true,  about: false}) %>
    <%- include('../partials/ui-kit/readMore', { disable: false, link:"https://google.com"  }) %>
    <%- include('../partials/ui-kit/readMore', { disable: true, link:"https://google.com" }) %>
    <%- include('../partials/ui-kit/social', { disable: false }) %>
    <%- include('../partials/ui-kit/social', { disable: true }) %>
    <%- include('../partials/ui-kit/cardService',{link:"https://google.com"}) %>
    <%- include('../partials/ui-kit/cardDoctor', {}) %>
    <%- include('../partials/ui-kit/logo',{color:""}) %>
    <%- include('../partials/ui-kit/servicePhoto',{type:"image", imageUrl:'/assets/images/servicePhoto1.png'}) %>
    <%- include('../partials/ui-kit/servicePhoto',{type:"video", imageUrl:'/assets/images/servicePhoto2.png'}) %>
    <%- include('../partials/ui-kit/servicePhoto',{type:"pdf", imageUrl:'/assets/images/servicePhoto3.png'} ) %> -->



    <div class="container-fluidd">
        <div class="presentation-container">
            <div class="row presentation-row text-center">
                <div class="col-12 presentation-title">
                    <span class="text-uppercase">Медицинский центр</span>
                </div>
                <div class="col-12 presentation-brand">
                    <span class="text-uppercase">PRODERMA</span>
                </div>
                <div class="col-12 presentation-subtitle">
                    <span>Сохраните и приумножьте свое здоровье вместе с нами</span>
                </div>
                <div class="presentation-button col-12 d-flex justify-content-center text-center mt-4">
                    <%- include('../partials/ui-kit/buttonAbout', { disable: false, about: false }) %>
                </div>
            </div>
        </div>
    </div>

    <div class="container services-clinic ">
        <div class="d-flex justify-content-center">
            <div class="service-clinic-block services-clinic-title">
                <span class="text-uppercase">УСЛУГИ нашей клиники</span>
            </div>
            <div class="service-clinic-block services-clinic-item">
                <%- include('../partials/ui-kit/cardService',{link:"/"}) %>
            </div>
            <div class="service-clinic-block services-clinic-item">
                <%- include('../partials/ui-kit/cardService',{link:"/"}) %>
            </div>
        </div>
        <div class="d-flex justify-content-center mt-3">
            <div class="service-clinic-block services-clinic-item">
                <%- include('../partials/ui-kit/cardService',{link:"/"}) %>
            </div>
            <div class="service-clinic-block services-clinic-item">
                <%- include('../partials/ui-kit/cardService',{link:"/"}) %>
            </div>
            <div class="service-clinic-block services-clinic-item">
                <%- include('../partials/ui-kit/cardService',{link:"/"}) %>
            </div>
        </div>
        <div class="d-flex justify-content-center mt-3">
            <div class="service-clinic-block services-clinic-item">
                <%- include('../partials/ui-kit/cardService',{link:"/"}) %>
            </div>
            <div class="service-clinic-block  services-clinic-item">
                <%- include('../partials/ui-kit/cardService',{link:"/"}) %>
            </div>
            <div class="service-clinic-block services-clinic-item">
                <%- include('../partials/ui-kit/cardService',{link:"/"}) %>
            </div>
        </div>
        <div class="d-flex justify-content-center mt-3">
            <div class="service-clinic-block services-clinic-item">
                <%- include('../partials/ui-kit/cardService',{link:"/"}) %>
            </div>
            <div class="service-clinic-block services-clinic-item">
                <%- include('../partials/ui-kit/cardService',{link:"/"}) %>
            </div>
            <div class="service-clinic-block services-clinic-item">
                <%- include('../partials/ui-kit/cardService',{link:"/"}) %>
            </div>
        </div>
    </div>

    <div class="container populars ">
        <div class="populars-title text-uppercase mb-4">
            популярные процедуры
        </div>
        <div id="customCarousel" class="carousel slide" data-bs-ride="carousel">
            <!-- Стрелки -->
            <button class="carousel-control-prev" type="button" data-bs-target="#customCarousel" data-bs-slide="prev">
                <%- include('../partials/ui-kit/arrowButton', { arrowDirection: 'left' }) %>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#customCarousel" data-bs-slide="next">
                <%- include('../partials/ui-kit/arrowButton', { arrowDirection: 'right' }) %>
            </button>
            
            <!-- Слайды -->
            <div class="carousel-inner justify-content-center text center">
                <div class="carousel-item active">
                    <div class="d-flex justify-content-center">
                        <div class="service-clinic-block">
                            <%- include('../partials/ui-kit/cardService', { link: "/" }) %>
                        </div>
                        <div class="service-clinic-block">
                            <%- include('../partials/ui-kit/cardService', { link: "/" }) %>
                        </div>
                        <div class="service-clinic-block">
                            <%- include('../partials/ui-kit/cardService', { link: "/" }) %>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="d-flex justify-content-center">
                        <div class="service-clinic-block">
                            <%- include('../partials/ui-kit/cardService', { link: "/" }) %>
                        </div>
                        <div class="service-clinic-block">
                            <%- include('../partials/ui-kit/cardService', { link: "/" }) %>
                        </div>
                        <div class="service-clinic-block">
                            <%- include('../partials/ui-kit/cardService', { link: "/" }) %>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="d-flex justify-content-center">
                        <div class="service-clinic-block">
                            <%- include('../partials/ui-kit/cardService', { link: "/" }) %>
                        </div>
                        <div class="service-clinic-block">
                            <%- include('../partials/ui-kit/cardService', { link: "/" }) %>
                        </div>
                        <div class="service-clinic-block">
                            <%- include('../partials/ui-kit/cardService', { link: "/" }) %>
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
        
    </div>

</main>

<style>
    .presentation-container{
        width: 100%;
        height: 700px;
        background-image: url('../assets/images/young-woman-having-a-facial-treatment\ 1.png');
        background-repeat: no-repeat;
        background-size: cover;
        border-bottom-left-radius: 50% 20%; /* Радиус скругления */
        border-bottom-right-radius: 50% 20%; /* Радиус скругления */
    }

    .presentation-row{
        padding-top: 150px;
    }

    .presentation-container span{
        color: white
    }

    .presentation-button button{
        border: 1px solid white !important;
    }

    .presentation-title{
        color: #FFF;
        font-family: Orchidea Pro;
        font-size: 42px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        text-transform: uppercase; 
    }

    .presentation-brand{
        color: #FFF;
        font-family: Orchidea Pro;
        font-size: 121px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        text-transform: uppercase; 
    }

    .presentation-subtitle{
        color: #FFF;
        font-family: Commissioner;
        font-size: 24px;
        font-style: normal;
        font-weight: 400;
        line-height: normal; 
    }



    .services-clinic{
        margin-top: 120px;
    }

    .services-clinic-title{
        color: #113B47;
        font-family: Tenor Sans;
        font-size: 50px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        text-transform: uppercase; 
    }
    .service-clinic-block{
        width: 380px;
    }


    .populars{
        margin-top: 145px;
    }

    .carousel-control-prev, .carousel-control-next {
        background: none; 
        color: inherit; 
        border: none;
    }

    .carousel-control-prev:hover, .carousel-control-next:hover {
        background: none; 
        color: inherit;
    }

    .populars-title{
        margin: 0 auto;
        width: 90%;
        color: var(--d-9-d-9-d-9, #113B47);
        font-family: Tenor Sans;
        font-size: 50px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        text-transform: uppercase; 
    }

    
</style>


<script>
    document.addEventListener('DOMContentLoaded', () => {
        const disabled = document.querySelectorAll('.disabled-ui-kit');
        disabled.forEach(item => {
            item.addEventListener('click', (e) => {
                e.preventDefault();
                e.stopPropagation();
            }, true);
        });
    });
</script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

</body>
</html>