<%- include('../partials/header') %>

<main>
    <%- include('../partials/ui-kit/additionalLink', { link: "https://google.com", iconType: 'google'}) %>
    <%- include('../partials/ui-kit/additionalLink', { link: "https://google.com", iconType: 'doctors'}) %>
    <%- include('../partials/ui-kit/additionalLink', { link: "https://google.com", iconType: 'yandex'}) %>
    <%- include('../partials/ui-kit/additionalLink', { link: "https://google.com", iconType: '2gis'}) %>
    <%- include('../partials/ui-kit/arrowButton', { arrowDirection: 'right' }) %>
    <%- include('../partials/ui-kit/arrowButton', { arrowDirection: 'left' }) %>
    <%- include('../partials/ui-kit/arrowButton', { arrowDirection: 'disabled' }) %>
    <%- include('../partials/ui-kit/buttonAbout', { disable: false, about: true }) %>
    <%- include('../partials/ui-kit/buttonAbout', { disable: true,  about: true}) %>
    <%- include('../partials/ui-kit/buttonAbout', { disable: false, about: false }) %>
    <%- include('../partials/ui-kit/buttonAbout', { disable: true,  about: false}) %>
    <%- include('../partials/ui-kit/readMore', { disable: false }) %>
    <%- include('../partials/ui-kit/readMore', { disable: true }) %>
    <%- include('../partials/ui-kit/social', { disable: false }) %>
    <%- include('../partials/ui-kit/social', { disable: true }) %>
    <%- include('../partials/ui-kit/cardService',{}) %>
    <%- include('../partials/ui-kit/termsLink', { link: "https://google.com" }) %>
</main>


<script>
    document.addEventListener('DOMContentLoaded', () => {
        const disabled = document.querySelectorAll('.disabled-ui-kit');
        disabled.forEach(item => {
            item.addEventListener('click', (e) => {
                e.preventDefault();
                e.stopPropagation();
            }, true);
        });
    });
</script>

</body>
</html>