<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Services</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous" />
</head>
<body>
  <div class="container">
    <%- include('../partials/header') %>
      <div class="banner mt-5">
        <div class="row">
          <div class="col-12">
            <h1 class="banner__title mb-4">Ботокс в лоб</h1>
          </div>
        </div>
        <img src="../assets/images/banner.png" class="banner-image rounded-3" alt="Banner Image" />
      </div>
      <div class="text-block">
        <div class="row">
          <div class="col-12">
            <h6 class="title mt-5">Заголовок</h6>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12 col-lg-8">
            <p class="text">
              Появление крупных межбровных морщин делает выражение лица тяжелым и напряженным.
              Избавиться от неприятной складки поможет введение ботокса в лоб. Опыт наших
              специалистов позволяет решать проблему за одно посещение, при этом окружающие мышцы не
              вовлекаются, а мимика не нарушается.
            </p>
          </div>
        </div>
        <div class="row">
          <div class="col-12 mt-2">
            <h6 class="title">Заголовок</h6>
          </div>
        </div>
        <ol class="ps-3 mb-4 mt-1">
          <li>Пункт важный мега важный супер важный</li>
          <li>Пункт важный мега важный супер важный</li>
          <li>Пункт важный мега важный супер важный</li>
        </ol>
        <div class="row">
          <div class="col-md-12 col-lg-8">
            <hr />
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <h6 class="title mt-4">Заголовок</h6>
          </div>
        </div>
        <ul class="ps-3 mb-2 mt-1 custom-color">
          <li>Пункт важный мега важный супер важный</li>
          <li>Пункт важный мега важный супер важный</li>
          <li>
            Пункт важный мега важный супер важный
            <ul class="custom-color">
              <li>Подпункт второго уровня</li>
            </ul>
          </li>
          <li>Пункт важный мега важный супер важный</li>
        </ul>
        <p class="mb-4 mt-4">
          Можно вставить
          <a href="">ссылку</a>
          прямо в текст и тыкнуть на нее и перейти куда-то.
        </p>
        <blockquote>
          <p>Это крутая цитата</p>
        </blockquote>
        <div class="row">
          <div class="col-12">
            <h6 class="title mt-3">Таблица</h6>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12 col-lg-8">
            <div class="table-container mb-5">
              <table class="table m-0">
                <thead class="rounded-top">
                  <tr class="table-color">
                    <th>Заголовок 1</th>
                    <th>Заголовок 2</th>
                    <th>Заголовок 3</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>Описание описание</td>
                    <td>Описание описание</td>
                    <td>Описание описание</td>
                  </tr>
                  <tr>
                    <td>Описание описание</td>
                    <td>Описание описание</td>
                    <td>Описание описание</td>
                  </tr>
                  <tr class="table__bottom">
                    <td>Описание описание</td>
                    <td>Описание описание</td>
                    <td>Описание описание</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
        <%- include('../partials/ui-kit/buttonAbout', { disable: false, about: false }) %>
      </div>
      <%- include('../partials/questions') %>
        <div class="Avantages">
          <h1 class="mb-5 license-title">Преимущества метода</h1>
          <div class="row">
            <div class="col-12">
              <div class="Avantages__card card d-flex flex-row p-3 mb-4">
                <div class="card-body">
                  <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 30 30" fill="none">
                    <path fill-rule="evenodd" clip-rule="evenodd"
                      d="M15.7452 3.39892C15.3477 2.95492 14.6525 2.95492 14.2551 3.39892L11.7996 6.14172C11.5971 6.36801 11.3026 6.48997 10.9994 6.4732L7.32367 6.26999C6.72865 6.2371 6.2371 6.72865 6.26999 7.32367L6.4732 10.9994C6.48997 11.3026 6.36801 11.5971 6.14172 11.7996L3.39892 14.2551C2.95492 14.6525 2.95492 15.3477 3.39892 15.7452L6.14172 18.2006C6.36801 18.4032 6.48997 18.6976 6.4732 19.0009L6.26999 22.6766C6.2371 23.2716 6.72865 23.7631 7.32367 23.7302L10.9994 23.527C11.3026 23.5103 11.5971 23.6322 11.7996 23.8585L14.2551 26.6013C14.6525 27.0453 15.3477 27.0453 15.7452 26.6013L18.2006 23.8585C18.4032 23.6322 18.6976 23.5103 19.0009 23.527L22.6766 23.7302C23.2716 23.7631 23.7631 23.2716 23.7302 22.6766L23.527 19.0009C23.5103 18.6976 23.6322 18.4032 23.8585 18.2006L26.6013 15.7452C27.0453 15.3477 27.0453 14.6525 26.6013 14.2551L23.8585 11.7996C23.6322 11.5971 23.5103 11.3026 23.527 10.9994L23.7302 7.32367C23.7631 6.72865 23.2716 6.2371 22.6766 6.26999L19.0009 6.4732C18.6976 6.48997 18.4032 6.36801 18.2006 6.14172L15.7452 3.39892ZM20.5657 12.1947C20.9648 11.7367 20.9171 11.0418 20.4591 10.6427C20.0011 10.2436 19.3062 10.2913 18.9071 10.7493L14.0786 16.29L11.923 13.5248C11.5495 13.0457 10.8583 12.96 10.3791 13.3336C9.9 13.7071 9.81438 14.3983 10.1879 14.8774L13.0892 18.5992C13.5531 19.1943 14.4446 19.2186 14.9403 18.6498L20.5657 12.1947Z"
                      fill="#3A7E7F" />
                  </svg>
                  <h4 class="card-title ms-5 text-uppercase me-auto">
                    ВЫСОКИЙ УРОВЕНЬ КОМФОРТА ПРОЦЕДУРЫ
                  </h4>
                </div>
              </div>
            </div>
            <div class="col-12">
              <div class="Avantages__card card d-flex flex-row p-3 mb-4">
                <div class="card-body">
                  <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 30 30" fill="none">
                    <path fill-rule="evenodd" clip-rule="evenodd"
                      d="M15.7452 3.39892C15.3477 2.95492 14.6525 2.95492 14.2551 3.39892L11.7996 6.14172C11.5971 6.36801 11.3026 6.48997 10.9994 6.4732L7.32367 6.26999C6.72865 6.2371 6.2371 6.72865 6.26999 7.32367L6.4732 10.9994C6.48997 11.3026 6.36801 11.5971 6.14172 11.7996L3.39892 14.2551C2.95492 14.6525 2.95492 15.3477 3.39892 15.7452L6.14172 18.2006C6.36801 18.4032 6.48997 18.6976 6.4732 19.0009L6.26999 22.6766C6.2371 23.2716 6.72865 23.7631 7.32367 23.7302L10.9994 23.527C11.3026 23.5103 11.5971 23.6322 11.7996 23.8585L14.2551 26.6013C14.6525 27.0453 15.3477 27.0453 15.7452 26.6013L18.2006 23.8585C18.4032 23.6322 18.6976 23.5103 19.0009 23.527L22.6766 23.7302C23.2716 23.7631 23.7631 23.2716 23.7302 22.6766L23.527 19.0009C23.5103 18.6976 23.6322 18.4032 23.8585 18.2006L26.6013 15.7452C27.0453 15.3477 27.0453 14.6525 26.6013 14.2551L23.8585 11.7996C23.6322 11.5971 23.5103 11.3026 23.527 10.9994L23.7302 7.32367C23.7631 6.72865 23.2716 6.2371 22.6766 6.26999L19.0009 6.4732C18.6976 6.48997 18.4032 6.36801 18.2006 6.14172L15.7452 3.39892ZM20.5657 12.1947C20.9648 11.7367 20.9171 11.0418 20.4591 10.6427C20.0011 10.2436 19.3062 10.2913 18.9071 10.7493L14.0786 16.29L11.923 13.5248C11.5495 13.0457 10.8583 12.96 10.3791 13.3336C9.9 13.7071 9.81438 14.3983 10.1879 14.8774L13.0892 18.5992C13.5531 19.1943 14.4446 19.2186 14.9403 18.6498L20.5657 12.1947Z"
                      fill="#3A7E7F" />
                  </svg>
                  <h4 class="card-title ms-5 text-uppercase me-auto">
                    БЫСТРОЕ ДОСТИЖЕНИЕ РЕЗУЛЬТАТА
                  </h4>
                </div>
              </div>
            </div>
            <div class="col-12">
              <div class="Avantages__card card d-flex flex-row p-3 mb-4">
                <div class="card-body">
                  <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 30 30" fill="none">
                    <path fill-rule="evenodd" clip-rule="evenodd"
                      d="M15.7452 3.39892C15.3477 2.95492 14.6525 2.95492 14.2551 3.39892L11.7996 6.14172C11.5971 6.36801 11.3026 6.48997 10.9994 6.4732L7.32367 6.26999C6.72865 6.2371 6.2371 6.72865 6.26999 7.32367L6.4732 10.9994C6.48997 11.3026 6.36801 11.5971 6.14172 11.7996L3.39892 14.2551C2.95492 14.6525 2.95492 15.3477 3.39892 15.7452L6.14172 18.2006C6.36801 18.4032 6.48997 18.6976 6.4732 19.0009L6.26999 22.6766C6.2371 23.2716 6.72865 23.7631 7.32367 23.7302L10.9994 23.527C11.3026 23.5103 11.5971 23.6322 11.7996 23.8585L14.2551 26.6013C14.6525 27.0453 15.3477 27.0453 15.7452 26.6013L18.2006 23.8585C18.4032 23.6322 18.6976 23.5103 19.0009 23.527L22.6766 23.7302C23.2716 23.7631 23.7631 23.2716 23.7302 22.6766L23.527 19.0009C23.5103 18.6976 23.6322 18.4032 23.8585 18.2006L26.6013 15.7452C27.0453 15.3477 27.0453 14.6525 26.6013 14.2551L23.8585 11.7996C23.6322 11.5971 23.5103 11.3026 23.527 10.9994L23.7302 7.32367C23.7631 6.72865 23.2716 6.2371 22.6766 6.26999L19.0009 6.4732C18.6976 6.48997 18.4032 6.36801 18.2006 6.14172L15.7452 3.39892ZM20.5657 12.1947C20.9648 11.7367 20.9171 11.0418 20.4591 10.6427C20.0011 10.2436 19.3062 10.2913 18.9071 10.7493L14.0786 16.29L11.923 13.5248C11.5495 13.0457 10.8583 12.96 10.3791 13.3336C9.9 13.7071 9.81438 14.3983 10.1879 14.8774L13.0892 18.5992C13.5531 19.1943 14.4446 19.2186 14.9403 18.6498L20.5657 12.1947Z"
                      fill="#3A7E7F" />
                  </svg>
                  <h4 class="card-title ms-5 text-uppercase me-auto">ДОСТУПНОСТЬ УСЛУГИ</h4>
                </div>
              </div>
            </div>
            <div class="col-12">
              <div class="Avantages__card card d-flex flex-row p-3 mb-4">
                <div class="card-body">
                  <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 30 30" fill="none">
                    <path fill-rule="evenodd" clip-rule="evenodd"
                      d="M15.7452 3.39892C15.3477 2.95492 14.6525 2.95492 14.2551 3.39892L11.7996 6.14172C11.5971 6.36801 11.3026 6.48997 10.9994 6.4732L7.32367 6.26999C6.72865 6.2371 6.2371 6.72865 6.26999 7.32367L6.4732 10.9994C6.48997 11.3026 6.36801 11.5971 6.14172 11.7996L3.39892 14.2551C2.95492 14.6525 2.95492 15.3477 3.39892 15.7452L6.14172 18.2006C6.36801 18.4032 6.48997 18.6976 6.4732 19.0009L6.26999 22.6766C6.2371 23.2716 6.72865 23.7631 7.32367 23.7302L10.9994 23.527C11.3026 23.5103 11.5971 23.6322 11.7996 23.8585L14.2551 26.6013C14.6525 27.0453 15.3477 27.0453 15.7452 26.6013L18.2006 23.8585C18.4032 23.6322 18.6976 23.5103 19.0009 23.527L22.6766 23.7302C23.2716 23.7631 23.7631 23.2716 23.7302 22.6766L23.527 19.0009C23.5103 18.6976 23.6322 18.4032 23.8585 18.2006L26.6013 15.7452C27.0453 15.3477 27.0453 14.6525 26.6013 14.2551L23.8585 11.7996C23.6322 11.5971 23.5103 11.3026 23.527 10.9994L23.7302 7.32367C23.7631 6.72865 23.2716 6.2371 22.6766 6.26999L19.0009 6.4732C18.6976 6.48997 18.4032 6.36801 18.2006 6.14172L15.7452 3.39892ZM20.5657 12.1947C20.9648 11.7367 20.9171 11.0418 20.4591 10.6427C20.0011 10.2436 19.3062 10.2913 18.9071 10.7493L14.0786 16.29L11.923 13.5248C11.5495 13.0457 10.8583 12.96 10.3791 13.3336C9.9 13.7071 9.81438 14.3983 10.1879 14.8774L13.0892 18.5992C13.5531 19.1943 14.4446 19.2186 14.9403 18.6498L20.5657 12.1947Z"
                      fill="#3A7E7F" />
                  </svg>
                  <h4 class="card-title ms-5 text-uppercase me-auto">
                    возможность воздействия только на целевую мышцу
                  </h4>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="photos">
          <div class="license-title text-uppercase mb-4">
            фото и видео
        </div>
        <div id="customCarousel" class="carousel slide" data-bs-ride="carousel">
            
            <button class="carousel-control-prev" type="button" data-bs-target="#customCarousel" data-bs-slide="prev">
               
              <%- include('../partials/ui-kit/arrowButton', { arrowDirection: 'left' }) %>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#customCarousel" data-bs-slide="next">
                <%- include('../partials/ui-kit/arrowButton', { arrowDirection: 'right' }) %>
            </button>
            
            
            <div class="carousel-inner justify-content-center text center">
                <div class="carousel-item active">
                    <div class="d-flex justify-content-center">
                        <div class="service-clinic-block">
                          <%- include('../partials/ui-kit/servicePhoto', { imageUrl: "../../assets/images/servicePhoto2.png", type: 'image' }) %>
    
                            
                        </div>
                        <div class="service-clinic-block ms-3 me-3">
                          <%- include('../partials/ui-kit/servicePhoto', { imageUrl: "../../assets/images/servicePhoto1.png", type: 'image' }) %>
    
                          
                      </div>
                      <div class="service-clinic-block">
                        <%- include('../partials/ui-kit/servicePhoto', { imageUrl: "../../assets/images/servicePhoto2.png", type: 'image' }) %>
    
                        
                    </div>
                    </div>
                </div>
                <div class="carousel-item">
                  <div class="d-flex justify-content-center">
                      <div class="service-clinic-block">
                        <%- include('../partials/ui-kit/servicePhoto', { imageUrl: "../../assets/images/servicePhoto2.png", type: 'image' }) %>
    
                          
                      </div>
                      <div class="service-clinic-block  ms-3 me-3">
                        <%- include('../partials/ui-kit/servicePhoto', { imageUrl: "../../assets/images/servicePhoto1.png", type: 'image' }) %>
    
                        
                    </div>
                    <div class="service-clinic-block">
                      <%- include('../partials/ui-kit/servicePhoto', { imageUrl: "../../assets/images/servicePhoto2.png", type: 'image' }) %>
    
                      
                  </div>
                  </div>
              </div>
            </div>
        </div>
        </div>
        <div class="pirce">
          <div class="row">
            <div class="col-md-12 col-xl-5">
              <h1 class="license-title">
                Стоимость <br class=" d-xs-none d-sm-none d-md-none d-lg-none" />
                процедур
              </h1>
            </div>
            <div class="col-md-12 col-xl-7">
              <div class="card card__item p-3 mb-4">
                <div class="price-text-body card-body">
                  <div class="price-body">
                    <h6 class="price-text">
                      «Botox»: коррекция самых больших лицевых
                      <br />
                      мимических морщин, 1 ед
                    </h6>
                    <span class="price-span">от 420 ₽</span>
                  </div>
                  <div class="price-body">
                    <h6 class="price-text">«Botox»: коррекция мимических морщин, 1 ед</h6>
                    <span class="price-span">от 420 ₽</span>
                  </div>
                  <div class="price-body">
                    <h6 class="price-text">«Botox»: коррекция мимических морщин, 1 ед</h6>
                    <span class="price-span">от 420 ₽</span>
                  </div>
                  <div class="price-body">
                    <h6 class="price-text">«Botox»: коррекция мимических морщин, 1 ед</h6>
                    <span class="price-span">от 420 ₽</span>
                  </div>
                  <div class="price-body">
                    <h6 class="price-text">«Botox»: коррекция мимических морщин, 1 ед</h6>
                    <span class="price-span">от 420 ₽</span>
                  </div>
                  <div class="price-body">
                    <h6 class="price-text mb-0">«Botox»: коррекция мимических морщин, 1 ед</h6>
                    <span class="price-span">от 420 ₽</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
  </div>
        <div class="container-fluidd main-form-background">
          <div class="container main-form">
              <div class="row w-50">
                  <div class="col-12">
                      <div class="main-form-title text-uppercase">
                          Поможем с выбором услуги
                      </div>
                      <div class="main-form-inputs d-flex flex-column mt-4">
                          <input type="text" placeholder="Имя">
                          <input class="mt-2" type="text" placeholder="Номер Телефона">
                      </div>
                      <div class="main-form-contact mt-4">
                          <%- include('../partials/ui-kit/buttonAbout', {disable: false, about: false}) %>
                      </div>
                      <div class="main-form-alert">
                          <p>
                              Нажимая кнопку “Перезвоните мне”, вы соглашаетесь c политикой обработки персональных данных. 
                          </p>
                      </div>
                      <div class="main-form-sended">
                          Форма отправлена!
                      </div>
                  </div>
              </div>
          </div>
      </div>
      <div class="container">
        <div class="specialists">
          <div class="license-title text-uppercase mb-4">
            Специалисты
        </div>
        <div id="customCarousel" class="carousel slide" data-bs-ride="carousel">
            <!-- Стрелки -->
            <button class="carousel-control-prev" type="button" data-bs-target="#customCarousel" data-bs-slide="prev">
                <%- include('../partials/ui-kit/arrowButton', { arrowDirection: 'left' }) %>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#customCarousel" data-bs-slide="next">
                <%- include('../partials/ui-kit/arrowButton', { arrowDirection: 'right' }) %>
            </button>
            
            <!-- Слайды -->
            <div class="carousel-inner justify-content-center text center">
                <div class="carousel-item active">
                    <div class="d-flex justify-content-center">
                        <div class="service-clinic-block">
                            <%- include('../partials/ui-kit/cardDoctor', { link: "/" }) %>
                        </div>
                        <div class="service-clinic-block">
                            <%- include('../partials/ui-kit/cardDoctor', { link: "/" }) %>
                        </div>
                        <div class="service-clinic-block">
                            <%- include('../partials/ui-kit/cardDoctor', { link: "/" }) %>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="d-flex justify-content-center">
                        <div class="service-clinic-block">
                            <%- include('../partials/ui-kit/cardDoctor', { link: "/" }) %>
                        </div>
                        <div class="service-clinic-block">
                            <%- include('../partials/ui-kit/cardDoctor', { link: "/" }) %>
                        </div>
                        <div class="service-clinic-block">
                            <%- include('../partials/ui-kit/cardDoctor', { link: "/" }) %>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="d-flex justify-content-center">
                        <div class="service-clinic-block">
                            <%- include('../partials/ui-kit/cardDoctor', { link: "/" }) %>
                        </div>
                        <div class="service-clinic-block">
                            <%- include('../partials/ui-kit/cardDoctor', { link: "/" }) %>
                        </div>
                        <div class="service-clinic-block">
                            <%- include('../partials/ui-kit/cardDoctor', { link: "/" }) %>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>
        <div class="FAQs">
          <div class=" mb-5">
            <h1 class="license-title">часто задаваемые вопросы</h1>
          </div>
          <%- include('../partials/questions') %>
        </div>
  </div>
  <div class="about">
    <div class="container">
      <div class="row">
        <div class="col-md-12 col-xl-7">
          <h1 class="license-title">О клинике</h1>
          <p>Мы рады приветствовать Вас в медицинском центре "Proderma”. Красота и <br> здоровье Вашей кожи - наша
            главная миссия.</p>
          <p>При диагностике и лечении врачи используют последние новейшие <br> разработки мировой медицины, такие как:
          </p>

          <ul class="ps-3 mb-4 custom-color">
            <li>радиоволновая дерматокоррекция</li>
            <li>лазерное удаление</li>
            <li>фототерапия</li>
          </ul>
          <h6 class="title mb-3">Основные направления:</h6>
          <ul class="ps-3 mb-2 custom-color">
            <li>Дерматология</li>
            <li>Косметология</li>
            <li>Урология</li>
          </ul>
          <p class="mt-4 mb-4">Наши дерматологи <b>успешно лечат более 2.000 кожных заболеваний,</b> включая: <br>
            псориаз и витилиго.</p>
          <p class="mb-4">У нас вы также <b>можете удалить кожные новообразования:</b> родинки, папилломы, <br>
            бородавки и др. Дерматокоррекция происходит с помощью современного лазера, она <br> совершенно безболезненно
            и занимает считанные секунды.</p>
          <p>У нас <b>возможно комплексное обследование любого пациента за одно посещение,</b> что <br> сэкономит ваше
            время и позволит быстрее начать правильное лечение.</p>
        </div>
        <div class="col-md-12 col-xl-5 text-end text-md-center">
          <img class="img-about" src="../assets/images/about.png" alt="">
        </div>
      </div>
    </div>
    <div class="container">
      <div class="photos">
        <div class="license-title text-uppercase mb-4">
          фото клиники
      </div>
      <div id="customCarousel" class="carousel slide" data-bs-ride="carousel">
          
          <button class="carousel-control-prev" type="button" data-bs-target="#customCarousel" data-bs-slide="prev">
             
            <%- include('../partials/ui-kit/arrowButton', { arrowDirection: 'left' }) %>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#customCarousel" data-bs-slide="next">
              <%- include('../partials/ui-kit/arrowButton', { arrowDirection: 'right' }) %>
          </button>
          
          
          <div class="carousel-inner justify-content-center text center">
              <div class="carousel-item active">
                  <div class="d-flex justify-content-center">
                      <div class="service-clinic-block">
                        <%- include('../partials/ui-kit/servicePhoto', { imageUrl: "../../assets/images/servicePhoto4.png", type: 'image' }) %>
  
                          
                      </div>
                      <div class="service-clinic-block ms-3 me-3">
                        <%- include('../partials/ui-kit/servicePhoto', { imageUrl: "../../assets/images/servicePhoto5.png", type: 'image' }) %>
  
                        
                    </div>
                    <div class="service-clinic-block">
                      <%- include('../partials/ui-kit/servicePhoto', { imageUrl: "../../assets/images/servicePhoto6.png", type: 'image' }) %>
  
                      
                  </div>
                  </div>
              </div>
              <div class="carousel-item">
                <div class="d-flex justify-content-center">
                    <div class="service-clinic-block">
                      <%- include('../partials/ui-kit/servicePhoto', { imageUrl: "../../assets/images/servicePhoto2.png", type: 'image' }) %>
  
                        
                    </div>
                    <div class="service-clinic-block  ms-3 me-3">
                      <%- include('../partials/ui-kit/servicePhoto', { imageUrl: "../../assets/images/servicePhoto1.png", type: 'image' }) %>
  
                      
                  </div>
                  <div class="service-clinic-block">
                    <%- include('../partials/ui-kit/servicePhoto', { imageUrl: "../../assets/images/servicePhoto2.png", type: 'image' }) %>
  
                    
                </div>
                </div>
            </div>
          </div>
      </div>
      </div>
      <div class="Avantages Avantages-method">
        <h1 class="mb-5 license-title">преимущества клиники</h1>
        <div class="row">
          <div class="col-md-12 col-xl-6">
            <div class="Avantages__card card d-flex flex-row p-0 mb-4">
              <div class="card-body avantages-title p-0">
                <svg class="custom-svg" xmlns="http://www.w3.org/2000/svg" width="59" height="95" viewBox="0 0 59 95" fill="none">
                  <ellipse cx="16" cy="47.5" rx="43" ry="53.5" fill="#3A7E7F" />
              </svg>
              
                <span class="span-avantages">01</span>
                <p class="card-title mb-0 ms-5 me-auto">
                  Индивидуальный подход к любой проблеме
                </p>
              </div>
            </div>
          </div>
          <div class="col-md-12 col-xl-6">
            <div class="Avantages__card card d-flex flex-row p-0 mb-4">
              <div class="card-body avantages-title p-0">
                <svg class="custom-svg" xmlns="http://www.w3.org/2000/svg" width="59" height="95" viewBox="0 0 59 95" fill="none">
                  <ellipse cx="16" cy="47.5" rx="43" ry="53.5" fill="#3A7E7F" />
              </svg>
                <span class="span-avantages">02</span>
                <p class="card-title mb-0 ms-5 me-auto">
                  Наши специалисты - доктора медицинских наук и врачи <br> высшей квалификационной категории
                </p>
              </div>
            </div>
          </div>
          <div class="col-md-12 col-xl-6">
            <div class="Avantages__card card d-flex flex-row p-0 mb-4">
              <div class="card-body avantages-title p-0">
                <svg class="custom-svg" xmlns="http://www.w3.org/2000/svg" width="59" height="95" viewBox="0 0 59 95" fill="none">
                  <ellipse cx="16" cy="47.5" rx="43" ry="53.5" fill="#3A7E7F" />
              </svg>
                <span class="span-avantages">03</span>
                <p class="card-title mb-0 ms-5 me-auto">
                  Занимаемся лечением псориаза и витилинго
                </p>
              </div>
            </div>
          </div>
          <div class="col-md-12 col-xl-6">
            <div class="Avantages__card card d-flex flex-row p-0 mb-4">
              <div class="card-body avantages-title p-0">
                <svg class="custom-svg" xmlns="http://www.w3.org/2000/svg" width="59" height="95" viewBox="0 0 59 95" fill="none">
                  <ellipse cx="16" cy="47.5" rx="43" ry="53.5" fill="#3A7E7F" />
              </svg>
                <span class="span-avantages">04</span>
                <p class="card-title mb-0 ms-5 me-auto">
                  Ориентация на результат - здоровье пациента
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
       <div class="license">
        <div class="row ">
          <div class="col-md-12 col-xl-5">
            <h1 class="license-title">лицензии</h1>
          </div>
          <div class="col-md-12 col-xl-7 d-flex justify-content-around">
            <%- include('../partials/ui-kit/servicePhoto', { imageUrl: "../../assets/images/servicePhoto3.png", type: 'pdf' }) %>
            <%- include('../partials/ui-kit/servicePhoto', { imageUrl: "../../assets/images/L-img.png", type: 'pdf' }) %>
          </div>
        </div>
      </div> 
      <div class="contacts">
        <h1 class="license-title mb-5">КОНТАКТЫ</h1>
        <div class="row">
          <div class="col-md-12 col-xl-6  ">
            <img class="map" src="../assets/images/map.png" alt="">
          </div>
          <div class="col-md-12 col-xl-6">
            <p class="mb-5">ООО Добромед, ИНН 8601068801, ОГРН 1198617011581 от 03.10.2019 <br>
              <b>Лицензия: ЛО-86-01-003690</b>
            </p>
            <p class="mb-1"><svg class="me-3" xmlns="http://www.w3.org/2000/svg" width="22" height="22" viewBox="0 0 22 22" fill="none">
              <path d="M11 1.375C8.99503 1.37737 7.07286 2.17489 5.65513 3.59262C4.23739 5.01035 3.43987 6.93253 3.43751 8.9375C3.43511 10.576 3.97031 12.17 4.96101 13.475C4.96101 13.475 5.16726 13.7466 5.20095 13.7858L11 20.625L16.8018 13.7823C16.8321 13.7459 17.039 13.475 17.039 13.475L17.0397 13.4729C18.0299 12.1685 18.5649 10.5752 18.5625 8.9375C18.5601 6.93253 17.7626 5.01035 16.3449 3.59262C14.9272 2.17489 13.005 1.37737 11 1.375ZM11 11.6875C10.4561 11.6875 9.92443 11.5262 9.47219 11.224C9.01995 10.9219 8.66748 10.4924 8.45934 9.98988C8.2512 9.48738 8.19674 8.93445 8.30285 8.401C8.40896 7.86755 8.67087 7.37755 9.05546 6.99296C9.44006 6.60836 9.93006 6.34645 10.4635 6.24034C10.997 6.13423 11.5499 6.18869 12.0524 6.39683C12.5549 6.60497 12.9844 6.95745 13.2865 7.40968C13.5887 7.86192 13.75 8.3936 13.75 8.9375C13.7491 9.66657 13.4591 10.3655 12.9435 10.881C12.428 11.3966 11.7291 11.6866 11 11.6875Z" fill="#3A7E7F"/>
            </svg><b class="bolt-color">Адрес:</b></p>
            <p class="margin-p mb-4">Луговая улица, 4, микрорайон Пригород Лесное, Московская область</p>
            <p class="mb-1"><svg class="me-3" xmlns="http://www.w3.org/2000/svg" width="22" height="22" viewBox="0 0 22 22" fill="none">
              <g clip-path="url(#clip0_1449_10133)">
                <path d="M10.9999 1.8335C16.0627 1.8335 20.1666 5.93741 20.1666 11.0002C20.1666 16.0629 16.0627 20.1668 10.9999 20.1668C5.93717 20.1668 1.83325 16.0629 1.83325 11.0002C1.83325 5.93741 5.93717 1.8335 10.9999 1.8335ZM10.9999 5.50016C10.7568 5.50016 10.5236 5.59674 10.3517 5.76865C10.1798 5.94056 10.0833 6.17371 10.0833 6.41683V11.0002C10.0833 11.2433 10.1799 11.4764 10.3518 11.6482L13.1018 14.3982C13.2747 14.5652 13.5063 14.6576 13.7466 14.6555C13.987 14.6534 14.2169 14.557 14.3868 14.3871C14.5568 14.2171 14.6532 13.9872 14.6553 13.7469C14.6574 13.5065 14.565 13.275 14.398 13.1021L11.9166 10.6207V6.41683C11.9166 6.17371 11.82 5.94056 11.6481 5.76865C11.4762 5.59674 11.243 5.50016 10.9999 5.50016Z" fill="#3A7E7F"/>
              </g>
              <defs>
                <clipPath id="clip0_1449_10133">
                  <rect width="22" height="22" fill="white"/>
                </clipPath>
              </defs>
            </svg><b class="bolt-color">Рабочие часы:</b></p>
            <p class="margin-p mb-4">ПН-ВС 09:00-20:00</p>
            <p class="  mb-4"><svg class="me-3" xmlns="http://www.w3.org/2000/svg" width="22" height="22" viewBox="0 0 22 22" fill="none">
              <path d="M6.06833 9.89083C7.38833 12.485 9.515 14.6025 12.1092 15.9317L14.1258 13.915C14.3733 13.6675 14.74 13.585 15.0608 13.695C16.0875 14.0342 17.1967 14.2175 18.3333 14.2175C18.8375 14.2175 19.25 14.63 19.25 15.1342V18.3333C19.25 18.8375 18.8375 19.25 18.3333 19.25C9.72583 19.25 2.75 12.2742 2.75 3.66667C2.75 3.1625 3.1625 2.75 3.66667 2.75H6.875C7.37917 2.75 7.79167 3.1625 7.79167 3.66667C7.79167 4.8125 7.975 5.9125 8.31417 6.93917C8.415 7.26 8.34167 7.6175 8.085 7.87417L6.06833 9.89083Z" fill="#3A7E7F"/>
            </svg>+7 (985) 000-11-03</p>
            <p><svg class="me-3" xmlns="http://www.w3.org/2000/svg" width="22" height="22" viewBox="0 0 22 22" fill="none">
              <path d="M3.66659 18.3332C3.16242 18.3332 2.73067 18.1535 2.37134 17.7942C2.012 17.4348 1.83264 17.0034 1.83325 16.4998V5.49984C1.83325 4.99567 2.01292 4.56392 2.37225 4.20459C2.73159 3.84526 3.16303 3.66589 3.66659 3.66651H18.3333C18.8374 3.66651 19.2692 3.84617 19.6285 4.20551C19.9878 4.56484 20.1672 4.99628 20.1666 5.49984V16.4998C20.1666 17.004 19.9869 17.4358 19.6276 17.7951C19.2683 18.1544 18.8368 18.3338 18.3333 18.3332H3.66659ZM10.9999 11.9165L18.3333 7.33317V5.49984L10.9999 10.0832L3.66659 5.49984V7.33317L10.9999 11.9165Z" fill="#3A7E7F"/>
            </svg>proderma@bk.ru</p>
          </div>
        </div>
      </div>
    </div>

    <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/js/bootstrap.bundle.min.js"></script>
</body>

</html>
<style>
  .main-form-background{
        margin-bottom: 145px;
        margin-top: 125px;
        height: 1000px;
        background: url('../assets/images//plastic-surgery.png');
        background-repeat: no-repeat;
        background: cover;
        background-position: center;
        transform:scaleX(-1);
        border-top-left-radius: 60% 20%; /* Радиус скругления */
        border-top-right-radius: 60% 20%; /* Радиус скругления */
        background-size: 2000px;
    }

    .main-form{
        transform:scaleX(-1);
        padding-top: 250px;
    }

    .main-form-title{
        color: var(--d-9-d-9-d-9, #113B47);
        font-family: Tenor Sans;
        font-size: 40px;
        font-style: normal;
        font-weight: 400;
        line-height: 54.9px; /* 137.25% */
        text-transform: uppercase; 
    }

    .main-form-sended{
        color: var(--d-9-d-9-d-9, #113B47);
        font-family: Tenor Sans;
        font-size: 30px;
        font-style: normal;
        font-weight: 400;
        line-height: 54.9px; /* 183% */
        text-transform: uppercase;
        margin-top: 38px; 
    }

    .main-form-alert{
        color: var(--d-9-d-9-d-9, #232323);
        font-family: Commissioner;
        font-size: 16px;
        font-style: normal;
        font-weight: 300;
        line-height: normal;
        margin-top: 28px;  
    }

    .main-form-inputs input{
        width: 450px;
        padding: 5px;
        padding-left: 25px;
        height: 55px;
        border-radius: 10px;
        border: 1px solid var(--d-9-d-9-d-9, #3A7E7F); 
    }
  .banner__title {
    color: var(--d-9-d-9-d-9, #113b47);
    font-family: Tenor Sans;
    font-size: 40px;
    text-transform: uppercase;
  }

  img {
    width: 100%;
  }

  .text-block {
    margin-bottom: 145px;
  }

  .title {
    color: var(--d-9-d-9-d-9, #232323);
    font-family: Commissioner;
    font-weight: 600;
  }

  .text {
    color: var(--d-9-d-9-d-9, #232323);
    font-family: Commissioner;
    font-weight: 300;
  }

  .custom-color li::marker {
    color: var(--d-9-d-9-d-9, #3a7e7f);
  }

  .custom-color {
    list-style-type: disc;
  }

  a {
    color: #3a7e7f;
  }

  blockquote {
    position: relative;
    padding-left: 20px;
  }

  blockquote::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 3px;
    background: #3a7e7f;
    border-radius: 10px;
  }

  .table-container {
    border-radius: 10px;
    overflow: hidden;
    border: 1px solid #3a7e7f;
    border-bottom: 0;
  }

  .table {
    width: 100%;
    border-collapse: collapse;
    text-align: center;
  }

  .table th,
  .table td {
    border: 1px solid #3a7e7f;
    padding: 8px;
  }

  .table th {
    background: var(--f-3-fdfe, #f3fdfe);
    font-weight: bold;
    border-top: 0;
  }

  .table td:last-child,
  .table th:last-child {
    border-right: 0;
  }

  .table td:first-child,
  .table th:first-child {
    border-left: 0;
    border-top: 0;
  }

  .card__item {
    box-shadow: 2px 2px 8.5px 0px rgba(0, 0, 0, 0.1);
    border: 0;
    border-radius: 10px;
  }

  .card-body {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .plus {
    width: 32px;
    height: 32px;
    background-color: #3a7e7f;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    border-radius: 50%;
    font-size: 20px;
    padding: 17px 20px 21px 19px;
  }

  .howIt {
    margin-bottom: 145px;
    border-radius: 10px;
    box-shadow: 2px 2px 8.5px 0px rgba(0, 0, 0, 0.1);
  }

  .Avantages__card {
    border: 1px solid var(--2, #3a7e7f);
    background: var(--f-3-fdfe, #f3fdfe);
  }
  .photos {
    margin-top: 145px;
  }

  .pirce {
    margin-top: 145px;
  }

  .price-title {
    color: var(--d-9-d-9-d-9, #113b47);
    font-family: Tenor Sans;
    font-size: 50px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
  }

  .price-text {
    margin-bottom: 25px;
  }

  .price-text-body {
    display: block;
    padding: 50px 100px;
  }

  .price-span {
    margin-left: 41px;
    color: var(--d-9-d-9-d-9, #232323);
    font-family: Commissioner;
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
  }

  .price-body {
    display: flex;
    justify-content: space-between;
  }

  .FAQs {
    margin-top: 145px;
  }

  .FAQs-title {
    color: var(--d-9-d-9-d-9, #113b47);
    font-family: Tenor Sans;
    font-size: 50px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
  }

  .about {
    height: 55em;
    padding-top: 140px;
    background: var(--f-3-fdfe, #f3fdfe);
  }

  .img-about {
    padding-top: 100px;
    width: 100%;
    flex-shrink: 0;
  }

  .Avantages-method {
    margin-top: 200px;
  }

  .cart-title {
    color: var(--d-9-d-9-d-9, #232323);
    font-family: Commissioner;
    font-size: 16px;
  }

  .span-avantages {
    position: absolute;
    color: #FFF;
    font-family: Orchidea Pro;
    font-weight: 400;
    margin-left: 20px;
  }

  .Avantages-title {
    color: var(--d-9-d-9-d-9, #113B47);
    font-family: Tenor Sans;
    font-size: 50px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
  }

  .license {
    margin-top: 100px;
  }

  .license-title {
    color: var(--d-9-d-9-d-9, #113B47);
    font-family: Tenor Sans;
    font-size: 65px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
  }
  .contacts {
    margin-top: 100px;
  }

  .container {
    position: relative;
  }

  .map {
    width: 60%;
    position: absolute;
    left: -21%;
  }

  .img-license {
    width: 365px;
    height: 518px;
    flex-shrink: 0;
  }
  .bolt-color {
    color: var(--d-9-d-9-d-9, #3A7E7F);
  }
  .margin-p {
    margin-left: 38px;
  }
  .carousel-control-prev, .carousel-control-next {
    background: none; 
    color: inherit; 
    border: none;
    opacity: 1;
}

.carousel-control-prev{
    background: none; 
    color: inherit; 
    border: none;
    opacity: 1;
    margin-left: -20px;
}

.carousel-control-prev:hover, .carousel-control-next:hover {
    background: none; 
    color: inherit;
    opacity: 1;
}

.populars-title{
    margin: 0 auto;
    width: 90%;
    color: var(--d-9-d-9-d-9, #113B47);
    font-family: Tenor Sans;
    font-size: 50px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase; 
}
.populars-buttons{
    margin-top: 20px;
   justify-content: space-between;
   width: 96%;
}

.populars-buttons button{
    width: 49%;
}
.specialists-title{
    color: var(--d-9-d-9-d-9, #113B47);
    font-family: Tenor Sans;
    font-size: 50px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase; 
}

@media (max-width: 992px) {
        .license-title {
            font-size: 50px; 
        }
    }

@media (max-width: 768px) {
    .license-title {
        font-size: 40px; 
    }
    .card-title{
      font-size: 20px; 
    }
    .price-text-body {
    padding: 25px 70px;
    }
    .about {
    height: 77em;
    }
    .img-about {
    width: 50%;
    }
    .map {
      margin-top: 23em;
      width: 125%;
      position: absolute;
      left: -21%;
    }
}
@media (min-width: 320px) and (max-width: 567px) {
  
  .card-title{
    width: 70%;
      font-size: 15px; 
    }


}

@media (max-width: 375px) {
  .price-text-body {
    padding: 0;
}
  .card-title  {
    padding: 0 !important;
    margin-left: 20px!important;
  }
  .Avantages__card {
    padding: 0 !important;
    height: 71px;
  }
  .photos {
    margin-top: 70px;
}
.price-text {
    width: 78%;
    font-size: 15px;
}
.price-span {
    margin-left: 0;
}
.img-about {
    width: 100%;
}
.about {
    height: 94em;
    }
    .photos {
    margin-top: 100px;
}
.custom-svg {
    width: 50px;
    height: 70px;
}
.span-avantages {
    margin-left: 14px;
}
.card-title{
  font-size: 11px;
}
}

</style>
