<%- include('../partials/header') %>
<div class="container">
      
      <%- include('../partials/services/banner') %>
</div>
      <%- include('../partials/services/textBlock') %>
      <div class="container">
      <%- include('../partials/services/questions') %>
      <%- include('../partials/services/avantages') %>
      <%- include('../partials/services/photos') %>
</div>
<%- include('../partials/services/price') %>
<%- include('../partials/services/form') %>
    <div class="container">
          <%- include('../partials/services/specialists') %>
          <%- include('../partials/services/FAQs') %>
          <%- include('../partials/main/reviews', {}) %>
    </div>
<div class="about">
  <%- include('../partials/services/about') %>
  <div class="container">
      <%- include('../partials/services/photos') %>
      <%- include('../partials/services/avantagesMethod') %>
  </div>
        <%- include('../partials/services/license') %>
        <div class="container">
        <%- include('../partials/services/contacts') %>
  </div>
  <%- include('../partials/footer') %>
</div>





