<%- include('../partials/header') %>
<div class="container">
  <%- include('../partials/services/banner') %>
  <%- include('../partials/services/textBlock') %>
</div>
<div class="container-fluidd">
  <%- include('../partials/services/form') %>
  <%- include('../partials/footer') %>
</div>
