<div class="articles-title">
    <span>Статьи</span>
</div>
<div class="row mt-3">
  <div class="row">
    <div class="col-xl-4"><%- include('./articles-box', {type:'short'}) %></div>
    <div class="col-xl-4"><%- include('./articles-box', {type:'short'}) %></div>
    <div class="col-xl-4"><%- include('./articles-box', {type:'short'}) %></div>
    <div class="col-xl-4"><%- include('./articles-box', {type:'short'}) %></div>
    <div class="col-xl-4"><%- include('./articles-box', {type:'short'}) %></div>
    <div class="col-xl-4"><%- include('./articles-box', {type:'short'}) %></div>
  </div>
</div>
