<div class="container-swiper popular-container mt-5">
  <div class="row">
      <div class="col-12">
          <span class="populars-title">
            фото и видео
          </span>
      </div>
  </div>
  <div class="swiper mt-3">
      <!-- Additional required wrapper -->
      <div class="swiper-wrapper">
        <!-- Slides -->
        <div class="swiper-slide d-flex justify-content-center">
          <div class="service-clinic-block w-100">
              <%- include('../ui-kit/servicePhoto', { imageUrl: "../../assets/images/servicePhoto2.png", type: 'image' }) %>
              
          </div>
        </div>
        <div class="swiper-slide d-flex justify-content-center">
          <div class="service-clinic-block w-100">
              <%- include('../ui-kit/servicePhoto', { imageUrl: "../../assets/images/servicePhoto1.png", type: 'video' }) %>
              
          </div>
        </div>
        <div class="swiper-slide d-flex justify-content-center">
          <div class="service-clinic-block w-100">
              <%- include('../ui-kit/servicePhoto', { imageUrl: "../../assets/images/servicePhoto2.png", type: 'image' }) %>
              
          </div>
        </div>
        <div class="swiper-slide d-flex justify-content-center">
          <div class="service-clinic-block w-100">
              <%- include('../ui-kit/servicePhoto', { imageUrl: "../../assets/images/servicePhoto1.png", type: 'video' }) %>
              
          </div>
        </div>
      </div>
  </div>
  <div class="swiper-button-prev populars-swiper-button-prev" style="width: 65px; top:43%; left: -20px;">
      <%- include('../ui-kit/arrowButton', { arrowDirection: 'left' }) %>
  </div>
  <div class="swiper-button-next populars-swiper-button-next" style="width: 65px; top:43%; right: -20px;">
      <%- include('../ui-kit/arrowButton', { arrowDirection: 'right' }) %>
  </div>
</div>

