<div class="specialists">
  <div class="license-title text-uppercase mb-4">
    Специалисты
</div>
<div id="customCarousel" class="carousel slide" data-bs-ride="carousel">
    <!-- Стрелки -->
    <button class="carousel-control-prev" type="button" data-bs-target="#customCarousel" data-bs-slide="prev">
        <%- include('../ui-kit/arrowButton', { arrowDirection: 'left' }) %>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#customCarousel" data-bs-slide="next">
        <%- include('../ui-kit/arrowButton', { arrowDirection: 'right' }) %>
    </button>
    
    <!-- Слайды -->
    <div class="carousel-inner justify-content-center text center">
        <div class="carousel-item active">
            <div class="d-flex justify-content-center">
                <div class="service-clinic-block">
                    <%- include('../ui-kit/cardDoctor', { link: "/" }) %>
                </div>
                <div class="service-clinic-block">
                    <%- include('../ui-kit/cardDoctor', { link: "/" }) %>
                </div>
                <div class="service-clinic-block">
                    <%- include('../ui-kit/cardDoctor', { link: "/" }) %>
                </div>
            </div>
        </div>
        <div class="carousel-item">
            <div class="d-flex justify-content-center">
                <div class="service-clinic-block">
                    <%- include('../ui-kit/cardDoctor', { link: "/" }) %>
                </div>
                <div class="service-clinic-block">
                    <%- include('../ui-kit/cardDoctor', { link: "/" }) %>
                </div>
                <div class="service-clinic-block">
                    <%- include('../ui-kit/cardDoctor', { link: "/" }) %>
                </div>
            </div>
        </div>
        <div class="carousel-item">
            <div class="d-flex justify-content-center">
                <div class="service-clinic-block">
                    <%- include('../ui-kit/cardDoctor', { link: "/" }) %>
                </div>
                <div class="service-clinic-block">
                    <%- include('../ui-kit/cardDoctor', { link: "/" }) %>
                </div>
                <div class="service-clinic-block">
                    <%- include('../ui-kit/cardDoctor', { link: "/" }) %>
                </div>
            </div>
        </div>
    </div>
</div>
</div>