<div class="specialists">
  <div class="license-title text-uppercase mb-4">
    Специалисты
</div>
  <div class="row mb-5">
    <div class="col-xl-4 mb-4"><%- include('../ui-kit/cardDoctor', { link: "/" }) %></div>
    <div class="col-xl-4 mb-4"><%- include('../ui-kit/cardDoctor', { link: "/" }) %></div>
    <div class="col-xl-4 mb-4"><%- include('../ui-kit/cardDoctor', { link: "/" }) %></div>
    <div class="col-xl-4 mb-4"><%- include('../ui-kit/cardDoctor', { link: "/" }) %></div>
    <div class="col-xl-4 mb-4"><%- include('../ui-kit/cardDoctor', { link: "/" }) %></div>
    <div class="col-xl-4 mb-4"><%- include('../ui-kit/cardDoctor', { link: "/" }) %></div>
  </div>
</div>